DEBUG=true
BOT_TOKEN=token

# Colon separated list of chat/group ids to send debug notifications to
# Only list trusted chats here, as these notifications may contain sensitive information
NOTIFICATION_CHAT_IDS=1234567890:-2718281828
